section {
  background-color: #63a46c;
  height: calc(100% - 64px);
  width: 100%;

  #container {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 70px 50px;
    position: relative;
    top: 40px;
    border-radius: 5px;

    .row {
      margin-top: 30px;
    }
  }
  form {
    width: 500px;

    .row {
      font-size: 1.5rem;
      font-weight: 500;
      span {
        color: red;
      }
    }

    mat-form-field {
      width: 100%;
    }
  }
}
