<div id="addPost">
  <form [formGroup]="form">
    <h3>Add new post</h3>
    <div>UserID: <input type="text" formControlName="userId" /></div>
    <div>Title: <input type="text" formControlName="title" /></div>
    <div>Body: <input type="text" formControlName="body" /></div>
    <div>
      <button (click)="addPost()">Submit</button>
    </div>
  </form>
</div>
<div class="posts" *ngFor="let post of posts">
  <h4>user id: #{{ post.userId }}</h4>
  <span>id: {{ post.id }} / </span>
  <span>title: {{ post.title }} / </span>
  <span>body: {{ post.body }}</span>
</div>
